{% extends "assests/main.html" %}
{% load static %}

{% block title %}Odhi The Villager | About{% endblock %}
{% block meta_description %}Learn about Odhi the Villager, his journey in Benga music, and his passion for Kenyan culture.{% endblock %}
{% block meta_keywords %}Benga Music, Kenyan Artist, Odhi the Villager, Kenyan Benga, Afrobeat, World Music, Traditional Kenyan Music{% endblock %}

    
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Skills Section Begin -->
    <section class="skills spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="skills__content">
                        <div class="section-title">
                            <h2>Odhi The Villager</h2>
                            <h1>Benga</h1>
                        </div>
                        <p>Benga music is not just a genre—it's a vibrant expression of cultural identity, history, and rhythm rooted deeply in Kenyan Luo traditions. Here’s why Benga matters:.</p>
                        <div class="skill__bar__item">
                            <p>Cultural Preservation</p>
                            <div id="bar1" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="95"></span>
                            </div>
                        </div>
                        <div class="skill__bar__item">
                            <p>Storytelling Power</p>
                            <div id="bar2" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="85"></span>
                            </div>
                        </div>
                        <div class="skill__bar__item">
                            <p>Guitar-Led Innovation</p>
                            <div id="bar3" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="98"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="skills__video set-bg" data-setbg="{% static 'img/odhi.jpg' %}">
                        <a data-fancybox href="https://www.youtube.com/watch?v=am0lC2w78GY&autoplay=1" class="play-btn">
                            <i class="fa fa-play"></i>
                          </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Skills Section End -->

    <!-- About Section Begin -->
    <section class="about about--page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <img src="{% static 'img/about/aketch.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <h2>He heard something that he knew to be music</h2>
                        </div>
                        <p>On 6th of January this year (2025), my friend Akech Oyosi passed on, and we buried him on 6th February 2025, making the end of our Happy Wednesdays for ever!
                            Last year in October, just before his 86th birthday (20th October), Akech became totally blind, victim of cataract. We managed to assist him through the necessary eye operation, and he could see well once more. Thereafter, he insisted that he stays with me for 3 days, to ensure that his post-operative treatment regime was adhered to strictly. I gladly acceded. 
                            When he left, he sincerely expressed his gratitude, but told me: "Wuod Ochola, Nyasaye ohera ndi! Pare ni mbesena tee mane wagoyogo thum onge kata achiel mapod ngima. Anto pod an tie! Omera, an koro kata atho, kik ibi elienda ni idwa ywaga! Iyuago ang'o! Gima mora ni ka atho, to abiro tho ka aneno!"
                            Loosely translated: "Son of Ochola, God loves me very much. Imagine all my cohorts we started playing music with are all dead, except I. So, my friend, if I die, please don't come mourning to my funeral! Why would you mourn? What pleases me most now is that I'll die with my vision intact!"
                            That was the last time I saw my friend alive. Circumstances conspired such that when my friend died, I wasn't even in the country, and I only came back in time to bury him! I stoically tried not to shed a tear, but just after interring him, a torrent of tears escaped from "I don't know where", but only briefly so! I resorted to our common denominator, the guitar, and one new tune and an older one were the only things I could coherently play (and find peace therein), as the sun settled on my friend's grave!
                            Fare thee well, my friend, as I struggle to obey your last instruction, "To mourn you joyfully"!
                            It's hard,  but I'll try my best, my friend, Samuel Akech Oyosi wuo'Jabuya, wuod Omolo g' Okombe, Owad g' Adhiambo, the Mother of Benga!
                            Pass greetings to John Ogara Odondi Kaisa and Nelson Ochieng Orwa (original Ochieng Nelly) of Ogara Boys Band! May your Benga Spirit not rest! Benga Yoro!Benga Mwomo!</p>
                        <img src="{% static 'img/about/signature.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- About Pic Begin -->
   
    <!-- About Pic End -->

    <!-- About Services Section Begin -->
    <section class="about-services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <h2>WHERE DO I PLAY</h2>
                        <h1>Best service</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__services__item">
                        <div class="about__services__item__pic set-bg" data-setbg="{% static 'img/services/as-1.jpg' %}">
                            <div class="icon">
                                <img src="{% static 'img/services/as-icon-1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="about__services__item__text">
                            <h4>Wedding</h4>
                            <p>Bring unforgettable rhythm and soul to your special day with live Benga performances that connect hearts and cultures. Let love dance to the beat of tradition and joy..</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__services__item">
                        <div class="about__services__item__pic set-bg" data-setbg="{% static 'img/services/as-2.jpg' %}">
                            <div class="icon">
                                <img src="{% static 'img/services/as-icon-2.png' %}" alt="">
                            </div>
                        </div>
                        <div class="about__services__item__text">
                            <h4>Clubs and bar</h4>
                            <p>Turn any night into a cultural celebration! Our Benga sets ignite the dancefloor with live beats, vocals, and electric vibes that keep your crowd moving all night.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__services__item">
                        <div class="about__services__item__pic set-bg" data-setbg="{% static 'img/services/as-3.jpg' %}">
                            <div class="icon">
                                <img src="{% static 'img/services/as-icon-3.png' %}" alt="">
                            </div>
                        </div>
                        <div class="about__services__item__text">
                            <h4>Corporate events</h4>
                            <p>Add authentic Kenyan flavor to your company events with engaging, energetic Benga music that inspires, uplifts, and entertains teams and guests alike.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- About Services Section End -->
    {% endblock %}
 