{% extends "assests/main.html" %}
{% load static %}

{% block title %}Odhi The Villager | Home{% endblock %}
{% block meta_description %}Welcome to the official site of Odhi The Villager, Kenyan Benga music artist.{% endblock %}
{% block meta_keywords %}Odhi The Villager, Benga, Kenyan Music, Home{% endblock %}


{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Blog</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Latest posts</h2>
                    <h1>Music blog</h1>
                </div>
                <div class="blog__large">
                    <div class="blog__large__pic set-bg" data-setbg="{% static 'img/blog/details/isanda.png' %}">
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                    <div class="blog__large__text">
                        <span>Benga Music</span>
                        <h4>Benga Music story telling</h4>
                        <p>This song may go down in history as one of the last songs the legendary Tedd Josiah recorded
                            for public consumption.
                            However, for reasons, beyond human control, but which I wouldn't like to go into here, he
                            was unable to complete the
                            project, so the final bits were tied up elsewhere.
                            A few years ago, I was introduced to Tedd by Titi Solomon, who had in turn Ben introduced to
                            me buy my friend
                            Makadem, who both felt that Tedd would bring out an angle from my music which had not come
                            out in my earlier
                            recordings. We had initially only planned for 1 song, but within 5 days, we'd agreed to do 2
                            songs, one of which
                            (Jawar Nitie), has already been shared in both YouTube and Facebook "Odhi the Villager"
                            pages. In the course of our
                            studio engagements, I informed Tedd that at home in Homa Bay I had regular gigs with the
                            living legend, him of Benga
                            history, Samuel Akech Jabuya, aka Akech Oyosi - the man who at around age 20 years actually
                            imagined and founded the
                            then revolutionary Benga sound (now world-renowned) in early 1960s, while a member of Ogara
                            Boys Band. Tedd was very
                            excited, and asked me to bring along Oyosi at the earliest opportunity.
                            When Akech came, he was adamant that he would not record (or even play) Benga, stating that,
                            as a creative artist,
                            he no longer found any excitement in the genre. He had carried along a self-made xylophone,
                            on which he had creating
                            new sounds. So as a compromise with Tedd, he only agreed to do a remix of one of his older
                            songs before recording
                            his xylophone song. .</p>
                        <div class="blog__large__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li>By <span>Odhi The Villager</span></li>
                                        <li>Dec 17, 2019</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul class="right__widget">
                                        <li>230 Views</li>
                                        <li>18 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{% static 'img/blog/details/pikipikina.png' %}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <span>PIKIPIKINA (WOLOLO)</span>
                                <h5>Odhi the Villager</h5>
                                <ul>
                                    <li>By <span>Odhi The Villager</span></li>
                                    <li>Dec 17, 2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{% static 'img/blog/details/makadem.png' %}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <span>MAKADEM</span>
                                <h5>Once upon a time in AllianceFrançaise Nairobi</h5>
                                <ul>
                                    <li>By <span>Odhi The Villager</span></li>
                                    <li>Dec 17, 2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{% static 'img/blog/details/manuD.png' %}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <span>Manu Dibangu</span>
                                <h5>Manu Dibangu, himself, belting out Soir au Village</h5>
                                <ul>
                                    <li>By <span>Odhi The Villager</span></li>
                                    <li>Dec 17, 2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{% static 'img/blog/details/sur.png' %}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <span>Music with love</span>
                                <h5>(S.U.R. = As You Are)</h5>
                                <ul>
                                    <li>By <span>Odhi The Villager</span></li>
                                    <li>Dec 17, 2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{% static 'img/blog/details/jawarnitie.png' %}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <span>Music Relaxing</span>
                                <h5>JAWAR NITIE (THE SAVIOUR IS REAL)</h5>
                                <ul>
                                    <li>By <span>Odhi The Villager</span></li>
                                    <li>Dec 17, 2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{% static 'img/blog/sign.png' %}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <span>MOI</span>
                                <h5>Moi made me "The Villager"!</h5>
                                <ul>
                                    <li>By <span>Odhi The Villager</span></li>
                                    <li>Dec 17, 2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="pagination__links blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__item">
                        <div class="blog__sidebar__title">
                            <h4>Subscribe newsletter</h4>
                        </div>
                        <p>Stay updated with for our latest .</p>
                        <form action="#">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <div class="blog__sidebar__title">
                            <h4>Social media</h4>
                        </div>
                        <div class="blog__sidebar__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <div class="blog__sidebar__title">
                            <h4>Recent posts</h4>
                        </div>
                        <a href="#" class="recent__item">
                            <div class="recent__item__pic">
                                <img src="{% static 'img/blog/sign.png' %}" alt="">
                            </div>
                            <div class="recent__item__text">
                                <h6>Moi made me "The Villager"!</h6>
                                <span>Dec 17, 2019</span>
                            </div>
                        </a>
                        <a href="#" class="recent__item">
                            <div class="recent__item__pic">
                                <img src="{% static 'img/blog/ogola.png' %}" alt="">
                            </div>
                            <div class="recent__item__text">
                                <h6>Best leaders interact with those they lead, and allow their intelligence to show.
                                </h6>
                                <span>Dec 17, 2019</span>
                            </div>
                        </a>
                        <a href="#" class="recent__item">
                            <div class="recent__item__pic">
                                <img src="{% static 'img/blog/expensive.png' %}" alt="">
                            </div>
                            <div class="recent__item__text">
                                <h6>I play expensive music</h6>
                                <span>Dec 17, 2019</span>
                            </div>
                        </a>
                        <a href="#" class="recent__item">
                            <div class="recent__item__pic">
                                <img src="{% static 'img/blog/berling.png' %}" alt="">
                            </div>
                            <div class="recent__item__text">
                                <h6>BERLIN CONFERENCE:The Whys, Hows, Aftermath & Future!</h6>
                                <span>Dec 17, 2019</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
 

{% endblock %}
