{% extends "assests/main.html" %}
{% load static %}

{% block title %}Odhi The Villager | Home{% endblock %}
{% block meta_description %}Welcome to the official site of Odhi The Villager, Kenyan Benga music artist.{% endblock %}
{% block meta_keywords %}Odhi The Villager, Benga, Kenyan Music, Home{% endblock %}


{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Blogs</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Latest posts</h2>
                    <h1>Music blog</h1>
                </div>
                
                <div class="row">
                <div class="row">
                    {% for blog in recent_blogs %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="{% url 'blogdetail' blog_id=blog.id %}" class="blog__item-link animated-card">
        <div class="blog__item">
            <div class="blog__item__pic zoom-on-hover">
                <img src="{{ blog.blog_image.url }}" alt="{{ blog.title }}">
            </div>
            <div class="blog__item__text">
                <span class="blog__category">{{ blog.category }}</span>
                <h5 class="blog__meta">{{ blog.title|truncatewords:10 }}</h5>
                <ul class="blog__meta">
                    <li>By <span>{{ blog.author }}</span></li>
                    <li>{{ blog.created_at|date:"M d, Y" }}</li>
                </ul>
            </div>
        </div>
    </a>
</div>

                    {% endfor %}
                </div>

                    
                    
                    
                    
                    
                    <div class="col-lg-12">
                        <div class="pagination__links blog__pagination">
                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <a href="?page={{ num }}" class="active">{{ num }}</a>
                            {% else %}
                            <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                            {% endfor %}
                        
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Next</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__item">
                        <div class="blog__sidebar__title">
                            <h4>Subscribe newsletter</h4>
                        </div>
                        <p>Stay updated with for our latest .</p>
                        <form action="#">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                    </div>
                <div class="blog__sidebar__item">
                    <div class="blog__sidebar__title">
                        <h4>Social media</h4>
                    </div>
                    <div class="blog__sidebar__social">
                        <a href="{{ general_info.facebook }}"><i class="fa fa-facebook"></i></a>
                        <a href="{{ general_info.twitter }}"><i class="fa fa-twitter"></i></a>
                        <a href="{{ general_info.instagram }}"><i class="fa fa-instagram"></i></a>
                        <a href="{{ general_info.youtube }}"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                    <div class="blog__sidebar__item">
                        <div class="blog__sidebar__title">
                            <h4>Recent Posts</h4>
                        </div>
                    
                        {% for blog in recent_blogs %}
                        <a href="{% url 'blogdetail' blog_id=blog.id %}" class="recent__item">
                            <div class="recent__item__pic">
                                {% if blog.blog_image %}
                                <img src="{{ blog.blog_image.url }}" alt="{{ blog.title }}">
                                {% else %}
                                <img src="{% static 'img/blog/default.png' %}" alt="No Image">
                                {% endif %}
                            </div>
                            <div class="recent__item__text">
                                <h6>{{ blog.title|truncatewords:10 }}</h6>
                                <span>{{ blog.created_at|date:"M d, Y" }}</span>
                            </div>
                        </a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
 

{% endblock %}
