{% extends "assests/main.html" %}
{% load static %}

{% block title %}Odhi The Villager | Contact{% endblock %}
{% block meta_description %}Get in touch with Odhi The Villager. Reach out to us for inquiries, support, or
collaboration. We're here to help!{% endblock %}
{% block meta_keywords %}contact, contact us, get in touch, reach out, customer support, customer service, inquiries,
help, support, feedback,
contact form, business contact, email, phone number, address, FAQs{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <h2>Have a question? Check out the FAQ</h2>
            <p>use the contact us below to ask any question in the next section...</p>
        </div>
        <div class="col-lg-7">
            <div class="faq-container">
                {% for faq in faqs %}
                <div class="faq-item">
                    <span class="num">{{forloop.counter}}.</span>
                    <div class="faq-question">
                
                        <h3>{{ faq.question }}</h3>
                        <div class="faq-toggle">
                            <i class="icon-plus fa-solid fa-plus"></i>
                            <i class="icon-minus fa-solid fa-minus"></i>
                        </div>
                    </div>
                    <div class="faq-content">
                        <p>{{ faq.answer|linebreaks }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact__address">
                    <div class="section-title">
                        <h2>Contact info</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore.</p>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <h5>Location</h5>
                            <p>{{ general_info.location }}</p>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <h5>Phone Number</h5>
                            <span>{{ general_info.phone }}</span>
                            
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <h5>Email</h5>
                            <p>{{ general_info.email }}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="contact__form">
                    <div class="section-title">
                        <h2>Get in touch</h2>
                    </div>
                    <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                        gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <form action="#">
                        <div class="input__list">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Phone Number">
                        </div>
                        <textarea placeholder="Comment"></textarea>
                        <button type="submit" class="site-btn">SEND MESSAGE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const faqItems = document.querySelectorAll('.faq-item');

        faqItems.forEach(item => {
            const question = item.querySelector('.faq-question');

            question.addEventListener('click', () => {
                const isActive = item.classList.contains('faq-active');

                // Toggle the current item
                if (!isActive) {
                    item.classList.add('faq-active');
                } else {
                    item.classList.remove('faq-active');
                }
            });
        });
    });
</script>



{% endblock %}