{% load static %}
<!-- Footer Section Begin -->
<footer class="footer spad set-bg" data-setbg="{% static 'img/footer-bg.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer__address">
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p>Phone</p>
                            <h6>+254</h6>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <p>Email</p>
                            <h6>odhithevillager@gmail.com</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-6">
                <div class="footer__social">
                    <h2>Odhi The Villager</h2>
                    <div class="footer__social__links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6">
                <div class="footer__newslatter">
                    <h4>Get The Latest</h4>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit"><i class="fa fa-send-o"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer__copyright__text">
            <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> This awesome site is made
                    <span>with </span> <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank">NimCity
                        Enterprises</a>
                
            </p>
        </div>

    </div>
</footer>
<!-- Footer Section End -->